<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <title>Delete</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Are you sure you want to delete</h2>

    <form action="#" th:action="@{/delete}" method="post">

        <input type="hidden" th:field="${customer.customerId}"/>
        <input class="btn btn-danger" type="submit" value="YES"/>
        <a href="/messages" class="btn btn-create w">NO</a>
    </form>
</div>
<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
</body>
</html>